.container {
  height: 100%;
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95%;
  background-color: #393E46;
  z-index: 30;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.reload-icon {
  background: transparent;
  border: none;
  display: block;
  outline: 0;
  cursor: pointer;
  padding: 1%;
  margin: 4% auto;
  color: #EEEEEE;
}

.spin-animation {
  transform: rotate(360deg);
  transition: all 0.4s ease-in;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1395px) {
  .container {
    width: 85%;
  }

  h1 {
    font-size: 5.3rem;
  }

  img {
    width: 90%;
  }

  .reload-icon {
    padding: 2%;
    margin: 5% auto;
  }
}
