html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #323232;
}

a:hover{
  color: black;
}

/* Nav Bar */
.navbar-brand {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.contact-btn {
  position: relative;
}

.contact-btn::before,
.contact-btn::after {
  --scale: 0;
  --tooltip-color: lightgray;
  --arrow-size: 1rem;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.contact-btn::before {
  --translate-y: calc(100% + var(--arrow-size));
  content: attr(data-tooltip);
  color: #323232;
  padding: 0.5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  background-color: var(--tooltip-color);
}

.contact-btn::after {
  --translate-y: var(--arrow-size);
  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

.contact-btn:hover::before,
.contact-btn:hover::after {
  --scale: 1;
}

/* Heading Section */
.title-heading {
  font-weight: 500;
}

/* Album Section */
.section-heading {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.section-heading::before,
.section-heading::after {
  content: "";
  flex: 1;
  margin: 0 1.25vw;
  height: 2px;
  background: linear-gradient(to left, #323232, gray, white);
}

.section-heading::after {
  background: linear-gradient(to right, #323232, gray, white);
}

.site-thumbnail {
  width: 100%;
}

.card:hover {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .4));
  transition: 0.3s;
}

.card-body {
  text-align: left;
}

.card-text {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
}

/* Footer Section */
#contactme {
  position: relative;
}

.social-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin: 8px;
  color: #8f8f8f;
}

.footer-link {
  position: relative;
}

.footer-link::after,
.footer-link::before {
  --arrow-size: 10px;
  --scale: 0;
  position: absolute;
  left: 50%;
  top: 0.2rem;
  margin: 0;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: transform 150ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition: 150ms transform; */
  transform-origin: bottom center;
}

.footer-link::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  width: max-content;
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
  background: var(--social-tool-color, black);
}

.footer-link::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--social-tool-color, black);
  transform-origin: top center;
}

.footer-link:hover::after,
.footer-link:hover::before {
  --scale: 1;
}

.social-icon:hover {
  color: var(--social-tool-color);
}

.footer-link[data-tooltip="LinkedIn"] {
  --social-tool-color: #0274b3;
}

.footer-link[data-tooltip="Instagram"] {
  --social-tool-color: #e03466;
}

.footer-link[data-tooltip="Email Me"] {
  --social-tool-color: #d3291c;
}

.top-of-site-link {
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  z-index: 15;
  color: white;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .3));
}

.top-of-site-link[data-visible=true] {
  opacity: 1;
  visibility: visible;
}

/* Mobile Responsive Overrides */
@media (max-width: 800px) {
  .title-heading {
    font-size: 1.5rem;
  }

  .section-heading {
    font-size: 1.1rem;
  }

  .fa-7x {
    width: 16%;
    height: 16%;
  }

  .lead {
    font-size: 1rem;
  }

  .head-mobile {
    margin-bottom: -50px;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .card-title {
    font-weight: 600;
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 0.75rem;
  }
}
